# Problem Statement 1

## 1. Read an integer input that specifies the number of highly satisfied customers

In [22]:
hsc = int(input("Enter the numnber of highly satisfied customers: "))

Enter the numnber of highly satisfied customers: 56

## 2. Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time

In [105]:
import numpy as np
import scipy.stats as st

data = np.random.randint(1, 200, hsc)

DMean = np.mean(data)
SEM = st.sem(data)

critical = st.norm.ppf(0.90)
MError = critical * SEM

print(round(DMean - MError, 5), round(DMean + MError, 5))

90.68792 111.27636

# Problem Statement 2

In [32]:
# A radar unit is used to measure the speeds of cars on a motorway.
# The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr

## 1. Find the probability that a car picked at random is traveling at more than X km/hr

In [43]:
X = int(input("Enter the Speed in km/hr: "))

Enter the Speed in km/hr: 75

In [45]:
print(round(st.norm(75, 15).pdf(X), 4))  #pdf -> Probability Density Function

0.0266

# Problem Statement 3

In [46]:
# Write a Python program toload the “kerala.csv”data into a DataFrameand perform the following tasks

In [47]:
import pandas as pd

In [48]:
kerala = pd.read_csv("kerala.csv")

## 1. Explore the DataFrame using info() and describe() functions

In [49]:
kerala.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [50]:
kerala.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

## 2. June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more; create a Datarame with columns –“YEAR”,  “JUN_GT_500”, “JUL_GT_500”,and “FLOODS”

In [60]:
jun_gt_500 = [int(kerala.JUN[i] >  500) for i in range(len(kerala.JUN))]
jul_gt_500 = [int(kerala.JUL[i] >  500) for i in range(len(kerala.JUL))]
floods = [int(i == "YES") for i in kerala.FLOODS]

df = pd.DataFrame({"YEAR" : kerala.YEAR, "JUN_GT_500" : jun_gt_500, "JUL_GT_500" : jul_gt_500, "FLOODS" : floods})

## 3. Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

In [66]:
dfCount = df.groupby("FLOODS").count()["JUN_GT_500"]

In [76]:
print("P(FLOOD/JUNE) : ", dfCount[1]/len(df.JUN_GT_500))

P(FLOOD/JUNE) :  0.5084745762711864

## 4. Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))

In [87]:
flood = df[df["FLOODS"] == 1].FLOODS.count()
rain = df[(df["FLOODS"] == 1) & (df["JUN_GT_500"] == 1)].FLOODS.count()

prob = rain / flood
print(prob)

0.9

## 5. Probability of flood given it rained more than 500 mm in July

In [88]:
dfCount = df.groupby("FLOODS").count()["JUL_GT_500"]

In [89]:
print("P(FLOOD/JULY) : ", dfCount[1]/len(df.JUL_GT_500))

P(FLOOD/JULY) :  0.5084745762711864

## 6. Probability of rain more than 500 mm in July given it flooded that year (P(B|A))

In [90]:
flood = df[df["FLOODS"] == 1].FLOODS.count()
rain = df[(df["FLOODS"] == 1) & (df["JUL_GT_500"] == 1)].FLOODS.count()

prob = rain / flood
print(prob)

0.95

# Problem Statement 4

In [91]:
# Write a Python program to load the wine dataset using the Sklearn library to a DataFrame and perform the following tasks.

## 1. Convert the dataset into DataFrame using pandas

In [106]:
wine = pd.read_csv("wine.csv")

In [107]:
wine = pd.DataFrame(wine)

## 2. Generate the sample size of 50 and give a random state as 100

In [108]:
df = wine.sample(n = 50, random_state = 100)

## 3. Calculate Z-critical, Margin of Error,andConfidence Interval for alcohol at 95% significance interval on generated sample data

In [110]:
ZCritical = st.norm.ppf(0.95)
MError = ZCritical * st.sem(df.alcohol)

In [112]:
print("Z-Critical Value: ", ZCritical)
print("Margin of Error: ", MError)
print("Confidence Interval : ({}, {})".format(np.mean(df.alcohol) - MError, np.mean(df.alcohol) + MError))

Z-Critical Value:  1.6448536269514722
Margin of Error:  0.17880519784197366
Confidence Interval : (12.794794802158027, 13.152405197841976)